# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Large Archives
*.zip
*.tar.gz

# Power BI Temporary files
*.pbix.temp
*.pbit.temp
*.abf

# Virtual Environments
venv/
env/
.env

# IDE & Editor files
.vscode/
.idea/
.DS_Store
Thumbs.db
